<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <fallbackPackageFolders>
    <!-- Do not define any fallback folders to avoid Windows-specific issues -->
  </fallbackPackageFolders>
</configuration>
